{% from "../macros/card.njk" import card %}

{% macro cardGroup(cards) %}
  <ul class="govuk-grid-row card-group">
    {% for cardParams in cards %}
      {{ card(cardParams) }}
    {% endfor %}
  </ul>
{% endmacro %}
