{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro mojFilter(params) %}

  <div class="moj-filter" data-module="moj-filter" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    <div class="moj-filter__content">
      <div class="moj-filter__selected">
        <div class="moj-filter__selected-heading">

          <div class="moj-filter__heading-title">
            <h2 class="govuk-heading-m">{{ params.selectedFilters.heading.html | safe if params.selectedFilters.heading.html else params.selectedFilters.heading.text }}</h2>
          </div>

        </div>

        {{params.optionsHtml | safe}}

        {{ govukButton({
          text: params.submit.text if params.submit.text else "Apply",
          attributes: params.submit.attributes
        }) }}

        <p>
          <a class="govuk-link govuk-link--no-visited-state" href="{{ params.clearFiltersUrl }}">Clear filters</a>
        </p>

      </div>
    </div>
  </div>
{% endmacro %}