services:

  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

  cell-sharing-risk-assessment-api:
    image: ghcr.io/ministryofjustice/hmpps-cell-sharing-risk-assessment-api:latest
    networks:
      - hmpps
    container_name: cell-sharing-risk-assessment-api
    depends_on:
      - hmpps-auth
      - cell-sharing-risk-assessment-db
      - localstack
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - HMPPS_AUTH_URL=http://hmpps-auth:8080/auth
      - SPRING_DATASOURCE_URL=jdbc:postgresql://cell-sharing-risk-assessment-db:5432/cell_sharing_risk_assessment?sslmode=prefer
      - HMPPS_SQS_LOCALSTACK_URL=http://localstack:4566
      - CELL_SHARING_RISK_ASSESSMENT_API_CLIENT_ID=hmpps-cell-sharing-risk-assessment-api
      - CELL_SHARING_RISK_ASSESSMENT_API_CLIENT_SECRET=clientsecret

  localstack:
    image: localstack/localstack:stable
    networks:
      - hmpps
    container_name: localstack
    ports:
      - "4566:4566"
      - "8999:8080"
    environment:
      - DEBUG=${DEBUG- }
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  cell-sharing-risk-assessment-db:
    image: postgres:18
    networks:
      - hmpps
    container_name: cell-sharing-risk-assessment-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=cell_sharing_risk_assessment
      - POSTGRES_USER=cell_sharing_risk_assessment
      - POSTGRES_DB=cell_sharing_risk_assessment

  app:
    build:
      context: .
      args:
        BUILD_NUMBER: "1.0.0"
        GIT_REF: "a1b2c3"
        GIT_BRANCH: main
    networks:
      - hmpps
    depends_on:
        - hmpps-auth
        - cell-sharing-risk-assessment-api
    ports:
      - "3000:3000"
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:3000/health"]
    environment:
      - PRODUCT_ID=UNASSIGNED
      - REDIS_ENABLED=false
      - REDIS_HOST=localhost
      - HMPPS_AUTH_EXTERNAL_URL=http://localhost:8080/auth
      - HMPPS_AUTH_URL=http://hmpps-auth:8080/auth
      # These will need to match new creds in the seed auth service auth
      - AUTH_CODE_CLIENT_ID=hmpps-typescript-template
      - AUTH_CODE_CLIENT_SECRET=clientsecret
      - CLIENT_CREDS_CLIENT_ID=clientid
      - CLIENT_CREDS_CLIENT_SECRET=clientsecret
      - SESSION_SECRET=somesecretvalue
      - TOKEN_VERIFICATION_API_URL=http://hmpps-auth:8080/auth
      - TOKEN_VERIFICATION_ENABLED=false
      - INGRESS_URL=http://localhost:3000
      - NO_HTTPS=true
      - CSRA_API_URL=http://localhost:8090

networks:
  hmpps:
