$govuk-global-styles: true;
$path: "/assets/images/";

$background-tint: #f0f4f5;
$card-tint: #f3f2f1;

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";

@import "@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer";
@import "@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar";

@import './components/header-bar';
@import './components/csra';
@import './components/card';
@import './components/filter';
@import './overrides/local';
