.moj-filter {
  .moj-filter__selected {
    box-shadow: none;
  }

  .govuk-checkboxes--small {
    .govuk-checkboxes__label::before {
      background-color: white;
    }
  }
}

.moj-filter-layout__filter {
  width: 270px;
}
