generic-service:
  nameOverride: hmpps-cell-sharing-risk-assessment-ui
  productId: 'DPS126' # productId for the product that this belongs too, i.e. DPS001, see README.md for details

  # the IRSA service account name for accessing AWS resources
  # serviceAccountName: "hmpps-cell-sharing-risk-assessment-ui"

  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-cell-sharing-risk-assessment-ui
    tag: app_version # override at deployment time
    port: 3000

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: cell-sharing-risk-assessment-cert
    modsecurity_enabled: true  # enable OWASP core rules then handle false positives by removing or tweaking rules to not block specific args or cookies
    modsecurity_audit_enabled: false
    modsecurity_snippet: |
      SecRuleEngine On
      {{ if .Values.ingress.modsecurity_audit_enabled -}}
      SecAuditEngine RelevantOnly
      SecAuditLog /var/log/nginx/error.log
      SecAuditLogType Serial
      {{ end -}}
      SecRuleRemoveById 920320
      SecRuleRemoveById 920300
      SecRuleRemoveById 920440
      SecRuleRemoveById 942110
      SecRuleRemoveById 913101
      SecRuleUpdateTargetById 931130 "!ARGS:/redirect_uri/"
      SecRuleUpdateTargetById 942440 "!REQUEST_COOKIES:/jwtSession/"
      SecRuleUpdateTargetById 942450 "!REQUEST_COOKIES:/jwtSession/"
      SecRuleUpdateTargetById 930120 "!REQUEST_COOKIES:/jwtSession/"
      SecRuleUpdateTargetById 942210 "!REQUEST_COOKIES:/jwtSession/"
      SecRuleUpdateTargetById 920450 "!REQUEST_HEADERS_NAMES:/accept-charset/"
      SecRuleUpdateTargetById 933150 "!REQUEST_COOKIES:/jwtSession/"
      SecAction "id:900200,phase:1,nolog,pass,t:none,setvar:tx.allowed_methods=GET HEAD PATCH POST OPTIONS PUT DELETE"
      SecDefaultAction "phase:2,pass,log,tag:github_team=move-a-prisoner"
      SecRule REQUEST_METHOD "POST" \
        "id:10000, \
        phase:2, \
        t:none, \
        ctl:ruleRemoveById=949110, \
        nolog, \
        pass"
      SecDefaultAction "phase:4,pass,log,tag:github_team=move-a-prisoner"
      SecRuleUpdateActionById 959100 "t:none,deny,status:406,logdata:%{SERVER_NAME}"

  livenessProbe:
    httpGet:
      path: /ping

  readinessProbe:
    httpGet:
      path: /ping

  # Environment variables to load into the deployment
  env:
    NODE_ENV: 'production'
    REDIS_ENABLED: 'true'
    REDIS_TLS_ENABLED: 'true'
    TOKEN_VERIFICATION_ENABLED: 'true'
    AUDIT_SQS_REGION: 'eu-west-2'
    AUDIT_SERVICE_NAME: 'DPS126' # Your audit service name

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    # These secrets are created by terraform.
    hmpps-cell-sharing-risk-assessment-ui-client-creds:
      CLIENT_CREDS_CLIENT_ID: 'CLIENT_CREDS_CLIENT_ID'
      CLIENT_CREDS_CLIENT_SECRET: 'CLIENT_CREDS_CLIENT_SECRET'
    hmpps-cell-sharing-risk-assessment-ui-auth-code:
      AUTH_CODE_CLIENT_ID: 'AUTH_CODE_CLIENT_ID'
      AUTH_CODE_CLIENT_SECRET: 'AUTH_CODE_CLIENT_SECRET'
    ui-session-secret:
      SESSION_SECRET: 'SESSION_SECRET'
    elasticache-redis:
      REDIS_HOST: 'primary_endpoint_address'
      REDIS_AUTH_TOKEN: 'auth_token'
    hmpps-cell-sharing-risk-assessment-ui-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    # This secret will need to be created in your namespace (note it isn't in hmpps-templates-dev)
    # IRSA configuration in your namespace will also be required, and then uncomment serviceAccountName above.
    # sqs-hmpps-audit-secret:
    #   AUDIT_SQS_QUEUE_URL: 'sqs_queue_url'

  allowlist:
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: hmpps-cell-sharing-risk-assessment-ui
