{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "../macros/mojFilter.njk" import mojFilter %}
{% from "../macros/pagination.njk" import pagination %}
{% from "../macros/riskBadge.njk" import riskBadge %}

{% set pageTitle = applicationName + " - CSRA ratings for all prisoners" %}

{% macro sortLink(label, sortKey, currentSort, currentDirection, baseHref, defaultDirection) %}
  {% set isCurrent = currentSort == sortKey %}
  {% set nextDirection = defaultDirection %}
  {% if isCurrent %}
    {% set nextDirection = 'DESC' if currentDirection == 'ASC' else 'ASC' %}
  {% endif %}
  {% set href = baseHref ~ ('&' if '?' in baseHref else '?') ~ 'sort=' ~ (sortKey | urlencode) ~ '&direction=' ~ (nextDirection | urlencode) %}
  <a class="govuk-link govuk-link--no-visited-state csra-sort-link" href="{{ href }}">
    <span>{{ label }}</span>
    {% if isCurrent and currentDirection == 'ASC' %}
      <svg width="22" height="22" focusable="false" aria-hidden="true" role="img" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.5625 15.5L11 6.63125L15.4375 15.5H6.5625Z" fill="currentColor"/>
      </svg>
    {% elif isCurrent and currentDirection == 'DESC' %}
      <svg width="22" height="22" focusable="false" aria-hidden="true" role="img" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.4375 7L11 15.8687L6.5625 7L15.4375 7Z" fill="currentColor"/>
      </svg>
    {% else %}
      <svg width="22" height="22" focusable="false" aria-hidden="true" role="img" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.1875 9.5L10.9609 3.95703L13.7344 9.5H8.1875Z" fill="currentColor"/>
        <path d="M13.7344 12.0781L10.9609 17.6211L8.1875 12.0781H13.7344Z" fill="currentColor"/>
      </svg>
    {% endif %}
    {% if isCurrent %}
      <span class="govuk-visually-hidden">, currently sorted {{ 'descending' if currentDirection == 'DESC' else 'ascending' }}, activate to sort {{ 'ascending' if currentDirection == 'DESC' else 'descending' }}</span>
    {% else %}
      <span class="govuk-visually-hidden">, activate to sort {{ 'descending' if defaultDirection == 'DESC' else 'ascending' }}</span>
    {% endif %}
  </a>
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if prisoners.length > 0 or hasSelectedFilters %}
        <form method="get" action="/all-prisoners" data-filter-prisoners-form>
          <div class="moj-filter-layout">
            <div class="moj-filter-layout__filter">

              {% set optionsHtml %}
                {{ govukCheckboxes({
                  name: "rating",
                  classes: "govuk-checkboxes--small",
                  fieldset: {
                    legend: {
                      text: "CSRA rating",
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: ratingOptions
                }) }}

                {{ govukCheckboxes({
                  name: "assessmentType",
                  classes: "govuk-checkboxes--small",
                  fieldset: {
                    legend: {
                      text: "Assessment type",
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: assessmentTypeOptions
                }) }}

                {% call govukFieldset({
                  legend: {
                    text: "Date of assessment",
                    classes: "govuk-fieldset__legend--s"
                  }
                }) %}

                  {{ mojDatePicker({
                    id: "assessmentDateFrom",
                    name: "assessmentDateFrom",
                    value: assessmentDateFrom,
                    errorMessage: validationErrors.assessmentDateFrom if validationErrors,
                    label: {
                      text: "Date from",
                      classes: "govuk-hint"
                    }
                  }) }}

                  {{ mojDatePicker({
                    id: "assessmentDateTo",
                    name: "assessmentDateTo",
                    value: assessmentDateTo,
                    errorMessage: validationErrors.assessmentDateTo if validationErrors,
                    label: {
                      text: "Date to",
                      classes: "govuk-hint"
                    }
                  }) }}

                {% endcall %}

                <input type="hidden" name="sort" value="{{ sort or '' }}" data-sort-field>
                <input type="hidden" name="direction" value="{{ direction or '' }}" data-direction-field>

              {% endset %}
              
              {{ mojFilter({
                attributes: {
                  "data-qa": "all-prisoners-filter"
                },
                selectedFilters: {
                  heading: {
                    text: "Filter"
                  }
                },
                optionsHtml: optionsHtml,
                submit: {
                  attributes: {
                    "data-qa": "all-prisoners-filter-apply-button"
                  }
                },
                clearFiltersUrl: "/all-prisoners"
              }) }}
            </div>
            <div class="moj-filter-layout__content">
              {% if prisoners.length > 0 %}
                {% set tableRows = [] %}
                {% for prisoner in prisoners %}
                  {% set name = prisoner.lastName | trim | capitalize + ', ' + prisoner.firstName | trim | capitalize %}
                  {% set nameHtml %}
                    {# ?from tells the prisoner's CSRA pages which worklist to put in their breadcrumb trail. #}
                    <a class="govuk-link govuk-link--no-visited-state" href="{{ '/prisoner/' + prisoner.prisonerNumber + '?from=all-prisoners' }}">{{ name }}</a>
                    <br>
                    <span class="csra-all-prisoners-table__prisoner-number govuk-body-s">{{ prisoner.prisonerNumber }}</span>
                  {% endset %}
                  {% set overdueDays = prisoner.assessedOn | daysOverdue %}
                  {% set assessedOnHtml = prisoner.assessedOn | formatDate or '-' %}
                  {% set ratingSourceLabel = 'Last reviewed' if prisoner.lastRatingSource == 'REVIEW' else 'Last assessed' %}
                  {% set ratingText = prisoner.rating | csraRatingLabel or 'NO RATING' %}
                  {% set ratingHtml %}
                    {{ riskBadge(prisoner) }}
                  {% endset %}
                  {% set _ = tableRows.push([
                    {
                      html: nameHtml,
                      attributes: {
                        "data-sort-value": name | lower | trim
                      }
                    },
                    {
                      text: prisoner.assessmentType | capitalize or '-'
                    },
                    {
                      html: assessedOnHtml,
                      attributes: {
                        "data-sort-value": prisoner.assessedOn
                      }
                    },
                    {
                      html: ratingHtml
                    }
                  ]) %}
                {% endfor %}
                {% set nameSortDir = "none" %}
                {% if sort == "NAME" %}
                  {% set nameSortDir = "descending" if direction == "DESC" else "ascending" %}
                {% endif %}
                {% set assessedOnSortDir = "none" %}
                {% if sort == "ASSESSED_ON" %}
                  {% set assessedOnSortDir = "descending" if direction == "DESC" else "ascending" %}
                {% endif %}
                {% set assessmentTypeSortDir = "none" %}
                {% if sort == "ASSESSMENT_TYPE" %}
                  {% set assessmentTypeSortDir = "descending" if direction == "DESC" else "ascending" %}
                {% endif %}
                {% set ratingSortDir = "none" %}
                {% if sort == "RATING" %}
                  {% set ratingSortDir = "descending" if direction == "DESC" else "ascending" %}
                {% endif %}

                {% set filterQueryParams = [] %}
                {% for rating in selectedRatings %}
                  {% set _ = filterQueryParams.push('rating=' ~ (rating | urlencode)) %}
                {% endfor %}
                {% for assessmentType in selectedAssessmentTypes %}
                  {% set _ = filterQueryParams.push('assessmentType=' ~ (assessmentType | urlencode)) %}
                {% endfor %}
                {% if assessmentDateFrom %}
                  {% set _ = filterQueryParams.push('assessmentDateFrom=' ~ (assessmentDateFrom | urlencode)) %}
                {% endif %}
                {% if assessmentDateTo %}
                  {% set _ = filterQueryParams.push('assessmentDateTo=' ~ (assessmentDateTo | urlencode)) %}
                {% endif %}

                {% set sortBase = '/all-prisoners' %}
                {% if filterQueryParams.length %}
                  {% set sortBase = sortBase ~ '?' ~ (filterQueryParams | join('&')) %}
                {% endif %}

                {% set paginationBase = sortBase ~ ('&' if '?' in sortBase else '?') ~ 'sort=' ~ (sort | urlencode) ~ '&direction=' ~ (direction | urlencode) %}

                {{ pagination(currentPage, totalPages, paginationBase, totalResults, pageSize) }}

                {{ govukTable({
                  classes: "csra-all-prisoners-table",
                  attributes: {
                    "data-qa": "all-prisoners-table"
                  },
                  head: [
                    {
                      html: sortLink('Name', 'NAME', sort, direction, sortBase, 'ASC'),
                      attributes: {
                        "aria-sort": nameSortDir
                      }
                    },
                    {
                      html: sortLink('Assessment type', 'ASSESSMENT_TYPE', sort, direction, sortBase, 'ASC'),
                      attributes: {
                        "aria-sort": assessmentTypeSortDir
                      }
                    },
                    {
                      html: sortLink('Assessed on', 'ASSESSED_ON', sort, direction, sortBase, 'DESC'),
                      attributes: {
                        "aria-sort": assessedOnSortDir
                      }
                    },
                    {
                      html: sortLink('Rating', 'RATING', sort, direction, sortBase, 'DESC'),
                      attributes: {
                        "aria-sort": ratingSortDir
                      }
                    }
                  ],
                  rows: tableRows
                }) }}

                {{ pagination(currentPage, totalPages, paginationBase, totalResults, pageSize) }}
              {% else %}
                <p class="govuk-body">No prisoners have been found for the selected filters.</p>
                <p class="govuk-body">You can:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>select different CSRA rating types</li>
                  <li>choose different dates</li>
                  <li>clear filters to view all prisoners</li>
                </ul>
              {% endif %}
            </div>
          </div>
        </form>
      {% else %}
        <p class="govuk-body">There are no prisoners at this establishment.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
