{% extends "../partials/layout.njk" %}

{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set prisonerName = (prisoner.firstName + " " + prisoner.lastName) | convertToTitleCase %}
{% set pageTitle = applicationName + " - CSRA for " + prisonerName %}
{% set mainClasses = "govuk-body" %}

{% set currentTab = "current" %}

{% block content %}
  {% include "../partials/prisonerBanner.njk" %}
  {% include "../partials/csraSubNav.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" data-qa="page-heading">Current CSRA rating</h1>

      {% if csra.status == "NO_RATING" %}

        <div class="csra-rating-panel" data-qa="no-csra">
          <h2 class="csra-rating-panel__title">
            No rating
          </h2>
          <p class="csra-rating-panel__body">
            This person requires an assessment.
          </p>
        </div>

      {% else %}

        <div class="csra-rating-panel govuk-!-margin-bottom-4 {{ csra.rating | csraRatingPanelClass }}" data-qa="csra-rating-panel">
          <span class="govuk-caption-m">{{ "Provisional assessment" if csra.provisional else "Assessment" }}</span>
          <h2 class="csra-rating-panel__title">
            {{ csra.rating | csraRatingLabel or (csra.status | csraStatusLabel) }}
          </h2>

          {% if csra.provisional %}
            <p class="govuk-body csra-not-complete-text">
              {% if csra.ratingStage == "INTERIM" %}
                Review
              {% else %}
                Full assessment
              {% endif %}
              not completed due to prisoner transfer.
            </p>
          {% endif %}

          {% if csra.riskTo.length %}
            <p class="govuk-body govuk-!-margin-bottom-0">Risk to:</p>
            <ul class="govuk-list govuk-list--bullet" data-qa="csra-risk-to">
              {% for risk in csra.riskTo %}
                <li>{{ risk.category | enumLabel }}{% if risk.details %} — {{ risk.details }}{% endif %}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if csra.vulnerabilities.length %}
            <h2 class="govuk-body govuk-!-margin-bottom-0">Vulnerable due to:</h2>
            <ul class="govuk-list govuk-list--bullet" data-qa="csra-vulnerabilities">
              {% for vulnerability in csra.vulnerabilities %}
                <li>{{ vulnerability.category | enumLabel }}{% if vulnerability.details %} — {{ vulnerability.details }}{% endif %}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if csra.assessmentComment %}
            <p id="csra-assessment-comment" class="govuk-body csra-comment">
              Assessment comment: {{ csra.assessmentComment }}
            </p>
          {% endif %}

          {% if csra.provisionalAssessmentComment %}
            <p id="csra-provisional-assessment-comment" class="govuk-body csra-comment">
              Provisional assessment comment: {{ csra.provisionalAssessmentComment }}
            </p>
          {% endif %}

          {% if csra.finalDate or csra.provisionalDate %}
            <p class="govuk-body csra-secondary-text govuk-!-margin-bottom-3">
              Assessed at {{ csra.prisonName }} on
              {% if csra.provisionalDate %}
                {{ csra.provisionalDate | formatDate }}{{ ' and ' ~ csra.finalDate | formatDate if csra.finalDate else '' }}.
              {% else %}
                {{ csra.finalDate | formatDate or 'unknown date' }}.
              {% endif %}
            </p>
          {% endif %}

          {% if csra.ratingStage != "INTERIM" %}
            {% set viewLinkText %}
              {% if csra.type == "CSRA_REVIEW" %}
                View full review
              {% elif csra.ratingStage == "PROVISIONAL" %}
                View full provisional assessment
              {% else %}
                View full assessment
              {% endif %}
            {% endset %}
            <p class="govuk-body govuk-!-margin-bottom-0">
              <a href="#" class="govuk-link">{{ viewLinkText }}</a>
            </p>
          {% endif %}
        </div>
      {% endif %}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {% set reviewInProgress = csra.inProgress and csra.inProgress.type == "CSRA_REVIEW" %}
      {% if hasRole('CSRA__ASSESSMENT_EDIT') and not reviewInProgress %}
        <div id="csra-assessment-section">
          <h2 class="govuk-heading-m">
            Assessment
            {% if csra.inProgress %}
              in progress
            {% endif %}
          </h2>
          {% if csra.inProgress%}
            <p class="govuk-body">
              {% if csra.ratingStage == "PROVISIONAL" %}
                A provisional rating has been entered. Complete the assessment to confirm a final rating.
              {% elif csra.inProgress %}
                An assessment was started by {{ csra.inProgress.startedBy | userDisplayName }} on {{ csra.startedAt | formatDate }}.
              {% else %}
                Start a new cell sharing risk assessment.
              {% endif %}
            </p>
            <a class="govuk-button govuk-!-margin-bottom-0" href="/prisoner/{{ prisoner.prisonerNumber }}/csra/{{ csra.reviewId }}" data-qa="start-assessment">
              Continue assessment
            </a>
          {% else %}
            <p class="govuk-body">
              Start a new cell sharing risk assessment.
            </p>
            <a class="govuk-button govuk-!-margin-bottom-0" href="/prisoner/{{ prisoner.prisonerNumber }}/csra/start" data-qa="start-assessment">
              Start assessment
            </a>
          {% endif %}
        </div>
      {% endif %}

      {% if csra.nextReviewDate and not reviewInProgress %}
        <div id="csra-review-due-date-section" class="govuk-!-margin-top-6">
          <h2 class="govuk-heading-m">Review due by</h2>
          <p class="govuk-body">
            {{ csra.nextReviewDate | formatDayMonthYear }}
          </p>
        </div>
      {% endif %}

      {% if hasRole('CSRA__REVIEW_EDIT') %}
        <div id="csra-review-csra-section" class="govuk-!-margin-top-6">
          <h2 class="govuk-heading-m">Review cell sharing risk</h2>
          <p class="govuk-body">
            Start a review when the prisoner’s risk requires reassessment.
          </p>
          <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1" href="/prisoner/{{ prisonerNumber }}/csra/start-review" data-qa="start-review">
            Start review
          </a>
        </div>
      {% endif %}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div id="csra-history-section">
          <h2 class="govuk-heading-m">View complete CSRA history</h2>
          <p class="govuk-body">
            See information from all CSRA assessments and reviews.
          </p>
          <a class="govuk-button govuk-button--secondary" href="{{"/prisoner/" + prisonerNumber + "/history" + (fromQuery or "")}}" data-qa="view-history">
            View CSRA history
          </a>
      </div>
    </div>
  </div>
{% endblock %}
